//////////////////////////////////////////////////////
# define DefineResource(identifier,type,path) identifier type #path
# define Resource(path) DefineResource(path, FILE, path)

//////////////////////////////////////////////////////
//
// Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)
Resource(engine/shader/sprite.vs)
Resource(engine/shader/shape.ps)
Resource(engine/shader/texture.ps)
Resource(engine/shader/square_dot.ps)
Resource(engine/shader/round_dot.ps)
Resource(engine/shader/sdf.ps)
Resource(engine/shader/fullscreen_triangle_resolve.vs)
Resource(engine/shader/fullscreen_triangle_draw.vs)
Resource(engine/shader/fullscreen_triangle_resolve.ps)
Resource(engine/shader/fullscreen_triangle_draw.ps)
Resource(engine/shader/copy.ps)
Resource(engine/shader/gaussian_blur_9.ps)
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/emoji/noto7_dictionary.dat)

//////////////////////////////////////////////////////
//
// Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto/NotoEmoji-Regular.ttf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/objdetect/haarcascade/eye.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/eye_eyeglasses.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/face_anime.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_catface.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_face_alt2.xml.zstdcmp)
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
// Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////

Resource(pictures/pump_left1.png)
Resource(pictures/pump_left2.png)
Resource(pictures/pump_right1.png)
Resource(pictures/pump_right2.png)
Resource(pictures/pump_down1.png)
Resource(pictures/pump_down2.png)
Resource(pictures/pump_up1.png)
Resource(pictures/pump_up2.png)

Resource(pictures/ghost_left1.png)
Resource(pictures/ghost_left2.png)
Resource(pictures/ghost_right1.png)
Resource(pictures/ghost_right2.png)
Resource(pictures/ghost_down1.png)
Resource(pictures/ghost_down2.png)
Resource(pictures/ghost_up1.png)
Resource(pictures/ghost_up2.png)

Resource(pictures/girl_left1.png)
Resource(pictures/girl_left2.png)
Resource(pictures/girl_right1.png)
Resource(pictures/girl_right2.png)
Resource(pictures/girl_down1.png)
Resource(pictures/girl_down2.png)
Resource(pictures/girl_up1.png)
Resource(pictures/girl_up2.png)

Resource(pictures/boy_left1.png)
Resource(pictures/boy_left2.png)
Resource(pictures/boy_right1.png)
Resource(pictures/boy_right2.png)
Resource(pictures/boy_down1.png)
Resource(pictures/boy_down2.png)
Resource(pictures/boy_up1.png)
Resource(pictures/boy_up2.png)

Resource(pictures/junction_a.png)
Resource(pictures/junction_b.png)
Resource(pictures/junction_c.png)
Resource(pictures/junction_d.png)
Resource(pictures/corner_a.png)
Resource(pictures/corner_b.png)
Resource(pictures/corner_c.png)
Resource(pictures/corner_d.png)
Resource(pictures/street_vert.png)
Resource(pictures/street_hori.png)

Resource(pictures/bookshelf.png)
Resource(pictures/wall1.png)
Resource(pictures/wall2.png)
Resource(pictures/window.png)
Resource(pictures/door.png)

Resource(pictures/point_candy1.png)
Resource(pictures/point_candy2.png)
Resource(pictures/point_chocolate.png)
Resource(pictures/special_thunder.png)
Resource(pictures/special_wing.png)

Resource(pictures/title.png)
Resource(pictures/result.png)

Resource(pictures/background.png)
Resource(pictures/boy_down1_thunder.png)
Resource(pictures/boy_down1_wing.png)
Resource(pictures/boy_down2_thunder.png)
Resource(pictures/boy_down2_wing.png)
Resource(pictures/boy_left1_thunder.png)
Resource(pictures/boy_left1_wing.png)
Resource(pictures/boy_left2_thunder.png)
Resource(pictures/boy_left2_wing.png)
Resource(pictures/boy_right1_thunder.png)
Resource(pictures/boy_right1_wing.png)
Resource(pictures/boy_right2_thunder.png)
Resource(pictures/boy_right2_wing.png)
Resource(pictures/boy_up1_thunder.png)
Resource(pictures/boy_up1_wing.png)
Resource(pictures/boy_up2_thunder.png)
Resource(pictures/boy_up2_wing.png)
Resource(pictures/gauge_left.png)
Resource(pictures/gauge_right.png)
Resource(pictures/ghost_down1_thunder.png)
Resource(pictures/ghost_down1_wing.png)
Resource(pictures/ghost_down2_thunder.png)
Resource(pictures/ghost_down2_wing.png)
Resource(pictures/ghost_left1_thunder.png)
Resource(pictures/ghost_left1_wing.png)
Resource(pictures/ghost_left2_thunder.png)
Resource(pictures/ghost_left2_wing.png)
Resource(pictures/ghost_right1_thunder.png)
Resource(pictures/ghost_right1_wing.png)
Resource(pictures/ghost_right2_thunder.png)
Resource(pictures/ghost_right2_wing.png)
Resource(pictures/ghost_up1_thunder.png)
Resource(pictures/ghost_up1_wing.png)
Resource(pictures/ghost_up2_thunder.png)
Resource(pictures/ghost_up2_wing.png)
Resource(pictures/girl_down1_thunder.png)
Resource(pictures/girl_down1_wing.png)
Resource(pictures/girl_down2_thunder.png)
Resource(pictures/girl_down2_wing.png)
Resource(pictures/girl_left1_thunder.png)
Resource(pictures/girl_left1_wing.png)
Resource(pictures/girl_left2_wing.png)
Resource(pictures/girl_left2_thunder.png)
Resource(pictures/girl_right1_thunder.png)
Resource(pictures/girl_right1_wing.png)
Resource(pictures/girl_right2_thunder.png)
Resource(pictures/girl_right2_wing.png)
Resource(pictures/girl_up1_thunder.png)
Resource(pictures/girl_up1_wing.png)
Resource(pictures/girl_up2_thunder.png)
Resource(pictures/girl_up2_wing.png)
Resource(pictures/pump_down1_thunder.png)
Resource(pictures/pump_down1_wing.png)
Resource(pictures/pump_down2_thunder.png)
Resource(pictures/pump_down2_wing.png)
Resource(pictures/pump_left1_thunder.png)
Resource(pictures/pump_left1_wing.png)
Resource(pictures/pump_left2_thunder.png)
Resource(pictures/pump_left2_wing.png)
Resource(pictures/pump_right1_thunder.png)
Resource(pictures/pump_right1_wing.png)
Resource(pictures/pump_right2_thunder.png)
Resource(pictures/pump_right2_wing.png)
Resource(pictures/pump_up1_thunder.png)
Resource(pictures/pump_up1_wing.png)
Resource(pictures/pump_up2_thunder.png)
Resource(pictures/pump_up2_wing.png)

Resource(pictures/win.png)
Resource(pictures/lose.png)

Resource(fonts/4x4kanafont.ttf)
/* 
	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
